<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

  <?include ../GeneratorSetup/Global.wxi?>

  <Bundle Name="$(var.ProductName)"
          Version="!(bind.packageVersion.GeneratorMsi)"
          Manufacturer="$(var.Manufacturer)"
          UpgradeCode="461A9CA0-1868-4F37-B19B-204EF5819FB9">

    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense" >
      <bal:WixStandardBootstrapperApplication
        LicenseUrl=""
        ThemeFile="HyperlinkTheme.xml"
        LogoFile="Icon.png"
        LocalizationFile="HyperlinkTheme.wxl" />
    </BootstrapperApplicationRef>

    <OptionalUpdateRegistration />

    <Chain>
      <PackageGroupRef Id="NetFx461Redist"/>
      
      <ExePackage
        Id="FtdiDriver"
        SourceFile="CDM21228_Setup.exe"
        DisplayName="FTDI CMD Driver"
        Vital="no" />

      <MsiPackage
        Id="GeneratorMsi"
        SourceFile="$(var.GeneratorSetup.TargetPath)"
        ForcePerMachine="yes" />
    </Chain>
  </Bundle>
</Wix>
