<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Bundle Name="Generator" Version="1.0.1" Manufacturer="Inhealion" UpgradeCode="EDFF86BB-569F-4D15-8148-18FEE3AA8987">
    <RelatedBundle Id="EDFF86BB-569F-4D15-8148-18FEE3AA8987" Action="Upgrade"/>

    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense" >
      <bal:WixStandardBootstrapperApplication
        LicenseUrl=""
        ThemeFile="HyperlinkTheme.xml"
        LogoFile="setup_64x64.png"
        LocalizationFile="HyperlinkTheme.wxl" />
    </BootstrapperApplicationRef>
    
    <Chain>
      <PackageGroupRef Id="NetFx461Redist"/>
      <MsiPackage Id="Generator" SourceFile="$(var.GeneratorSetup.TargetPath)"/>
    </Chain>
  </Bundle>
</Wix>
