<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <?include Global.wxi ?>

  <Product Id="*"
           Language="1033"
           Name="$(var.ProductName)"
           Version="!(bind.FileVersion.GeneratorAppMainFile)"
           Manufacturer="$(var.Manufacturer)"
           UpgradeCode="$(var.UpgradeCode)">

    <Package InstallerVersion="450" Compressed="yes" InstallScope="perMachine" />
    <Upgrade Id="$(var.UpgradeCode)"/>
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="GeneratorSetup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="CleanupMainApplicationFolder" />
    </Feature>

    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize" />
    </InstallExecuteSequence>

    <!--<UI Id="WixUI_Minimal">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="Minimal" />

      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />

      --><!-- This is the welcome dialog you specified--><!--
      <DialogRef Id="WelcomeDlg" />

      --><!-- Hook the new welcome dialog to the next one in the stack--><!--
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="SetupTypeDlg">1</Publish>

      <Publish Dialog="SetupTypeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <Publish Dialog="SetupTypeDlg" Control="TypicalButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="SetupTypeDlg" Control="CustomButton" Event="NewDialog" Value="CustomizeDlg">1</Publish>
      <Publish Dialog="SetupTypeDlg" Control="CompleteButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>

      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="1">WixUI_InstallMode = "Change"</Publish>
      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="SetupTypeDlg" Order="2">WixUI_InstallMode = "InstallCustom"</Publish>
      <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

      <Property Id="ARPNOMODIFY" Value="1" />
    </UI>
    <UIRef Id="WixUI_Common" />-->

  </Product>

  <Fragment>
    <Icon Id="favicon.exe" SourceFile="favicon.ico"/>
    <Property Id="INSTALLFOLDER">
      <RegistrySearch Key="SOFTWARE\Inhealion\Generator" Root="HKLM" Type="raw" Id="APPLICATIONFOLDER_REGSEARCH" Name="Path" />
    </Property>
    <Property Id="ARPPRODUCTICON" Value="favicon.ico" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DesktopFolder" SourceName="Desktop" />
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Generator"/>
      </Directory>
    </Directory>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="CleanupMainApplicationFolder" Guid="*">
        <RegistryValue Root="HKLM" Key="SOFTWARE\Inhealion\Generator" Name="Path" Type="string" Value="[INSTALLFOLDER]" KeyPath="yes" />
        <util:RemoveFolderEx On="uninstall" Property="INSTALLFOLDER" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent" Guid="787BED68-E057-4769-8D3C-A211ED60E0C6">
        <File Id="GeneratorAppMainFile" Source="$(var.GeneratorAppMain.TargetPath)">
          <Shortcut Id="DesktopShortcut"
                    Directory="DesktopFolder"
                    Name="$(var.Manufacturer)"
                    WorkingDirectory="INSTALLFOLDER"
                    Advertise="yes"
                    Icon="favicon.exe" />
        </File>
        <File Source="$(var.GeneratorAppManager.TargetPath)"/>
        <File Source="$(var.GeneratorServerApi.TargetPath)"/>
        <File Source="$(var.GenLib.TargetPath)"/>
        <File Source="favicon.ico"/>
      </Component>

      <Component Id="RegistryEntries" Guid="B31B50D5-A85E-4CE0-A417-25F510E5C087" KeyPath="yes">
        <RegistryKey Root="HKCR"
                     Key="generator"
                     Action="createAndRemoveOnUninstall">
          <RegistryKey Key="shell\open\command">
            <RegistryValue Type="string" Value="[INSTALLFOLDER]generator-manager.exe %1"/>
          </RegistryKey>

          <RegistryValue Type="string" Value="URL: Generator Protocol"/>
          <RegistryValue Type="string" Name="URL Protocol" Value="Default Value" />
        </RegistryKey>
      </Component>

      <Component Id="LibsComponent" Guid="F127CED8-4E19-499E-8150-B69ACF03B527">
        <File Source="$(var.GeneratorAppMain.TargetDir)generator.exe.config" />
        <File Source="$(var.GeneratorAppMain.TargetDir)ftd2xx.dll" />
        <File Source="$(var.GeneratorAppMain.TargetDir)FTD2XX_NET.dll" />
        <File Source="$(var.GeneratorAppMain.TargetDir)NModbus.dll" />
        <File Source="$(var.GeneratorAppMain.TargetDir)NModbus.Serial.dll" />
        <File Source="$(var.GeneratorAppMain.TargetDir)Unity.Abstractions.dll" />
        <File Source="$(var.GeneratorAppMain.TargetDir)Unity.Container.dll" />
        <File Source="$(var.GeneratorAppMain.TargetDir)RestSharp.dll" />
        <File Source="$(var.GeneratorAppMain.TargetDir)NLog.dll" />
        <File Source="$(var.GeneratorAppMain.TargetDir)log4net.dll" />

        <File Source="$(var.GeneratorAppMain.TargetDir)System.Diagnostics.DiagnosticSource.dll" />
        <File Source="$(var.GeneratorAppMain.TargetDir)System.IO.Ports.dll" />
        <File Source="$(var.GeneratorAppMain.TargetDir)System.IO.Compression.dll" />
        <File Source="$(var.GeneratorAppMain.TargetDir)System.Runtime.CompilerServices.Unsafe.dll" />
        <File Source="$(var.GeneratorAppMain.TargetDir)System.Runtime.dll" />
        <File Source="$(var.GeneratorAppMain.TargetDir)System.Diagnostics.Process.dll" />

        <File Source="$(var.GeneratorAppManager.TargetDir)generator-manager.exe.config" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
